body {
    background-color: #fff4fc
}

h1 {
    color: black;
    text-align: center;
    border: 3px solid #CC7178;
    border-radius: 30px;
    letter-spacing: 7px;
    font-size: 50px;
}

h2 {
    border: 3px dashed #ff8899;
    padding: 10px 60px 10px 10px;
}


a:hover {
    background-color: gray;
}

a:visited {
    color: purple;
}

a:active {
    color: purple;
}

h2 {
}

h3::first-letter {
    color: #B11356;
    font-size: 30px;
}

h3 {
    color: #CC7178;
}
